/* Reset/Normalize */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Merriweather:ital,wght@1,300&family=Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400&display=swap');


:root {
    --font-primary: 'Quicksand', sans-serif;
    --font-secondary: 'Pacifico', cursive;
    --font-color: #4a4a4a;
    --bg-color: #fde6f2;
    --link-color: #e849a9;
}

body {
    font-family: var(--font-primary);
    color: var(--font-color);
    line-height: 1.6;
    margin: 0;
    background-color: var(--bg-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.skip-link {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-link:focus {
    position: absolute;
    left: auto;
    top: auto;
    width: auto;
    height: auto;
    overflow: visible;
}

header {
    padding: 20px 0;
}

header h1 {
    font-size: 8em;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Passion One', sans-serif;
    color: #4a4a4a;
    animation: flash 2s infinite alternate;
}

@keyframes flash {
    0% {
        color: black;
    }

    100% {
        color: white;
    }
}

header h2,
header p,
nav ul li {
    margin-bottom: 10px;
}

nav {
    background: linear-gradient(90deg, rgba(238, 152, 203, 0.5), rgba(238, 152, 203, 0.3));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--font-color);
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

nav a:hover {
    transform: rotate(-3deg);
    animation: jiggle 0.3s ease-in-out infinite alternate;
}

@keyframes jiggle {
    0% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(3deg);
    }
}

nav a:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--link-color);
}

main {
    padding: 20px 0;
}

main h2,
main h3,
main p,
main ul {
    margin-bottom: 15px;
}

main ul {
    list-style-position: inside;
}

.profile,
#styles,
.page-footer {
    background-color: #eebef0;
    padding: 20px 0;
    margin-top: 20px;
}

.page-footer p,
.page-footer a {
    margin-bottom: 10px;
}

#styles h2 {
    margin-bottom: 15px;
}

.features {
    list-style: none;
    padding: 0;
}

.features li {
    margin-bottom: 10px;
}

.features a {
    color: var(--link-color);
    font-weight: bold;
}

/* Media Query */
@media (min-width: 320px) {
    body {
        font-size: 16px;
    }

    nav {
        position: sticky;
        top: 0;
        z-index: 1000;
    }
}